{% extends 'layout.html' %}
{% load static %}
{% block body  %}
<!-- Posts Start  -->
{% include 'home/posts.html' %}
<!-- Posts End  -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-floating btn-dark addpost" data-toggle="modal" data-target="#postModal">
    +
</button>

<!-- Modal -->
<div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="postModalLabel">Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="/post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div>
                        <div class="form-outline mb-4">
                            <img class="px-3" id="blah" src="#" alt="" width="100%" height="auto" />
                            <input type="file" class="form-file-inpu d-none" id="customFile" onchange="readURL(this);"
                                name="image" required />
                            <label class="form-file-label postLabel" for="customFile">
                                <span class="form-file-button postImage mx-auto">Image</span>
                            </label>
                        </div>
                        <div class="form-outline mb-4 ">
                            <input type="text" id="caption" class="form-control" name="caption" required />
                            <label class="form-label" for="caption">Caption</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)

            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock body  %}