<div class="container">
    <div class="row">
        {% for post in posts %}
        <div class="col-12 post">
            <div class=" col-12 col-md-6 mx-auto card">
                <div class="card-body">
                    <i class="fa fa-user-circle"></i> {{post.user}}
                    <span class="float-right">
                        <a class="nav-link" href="#" id="postOption" role="button" data-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fas fa-ellipsis-v float-right"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="postOption">
                            <li><a class="dropdown-item" href="/profile/{{post.user}}">Profile</a></li>
                            {% if request.user == post.user%}
                            <li><a class="dropdown-item text-danger" href="/delete_post/{{post.id}}">Delete</a></li>
                            {% endif %}
                        </ul>
                    </span>

                </div>
                <img src="/media/{{post.image.name}}" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">{{ post.caption }}</h5>
                    <a href="#!" class="btn btn-primary"> <i class="fa fa-thumbs-up"></i>Like</a>
                    <div> <small>{{post.date|timesince:time}} ago</small></div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>