{% extends 'layout.html' %}
{% block body %}
<div class="container profile mt-3">
    <div class="row">
        <div class="col-11 col-md-6 mx-auto card p-5">
            <img src="https://res.cloudinary.com/di9lrcrlj/{{userprofile.userimage}}" alt="" id="profilePicture"
                role="button" data-toggle="dropdown" aria-expanded="false">
            {% if userprofile.user == request.user %}
            <ul class="dropdown-menu" aria-labelledby="profilePicture">
                <li>
                    <form id="form" method="POST" action="/userimageUpdate" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" class="form-file-input d-none" id="userimage" name="image" required />
                        <label class="dropdown-item" for="userimage">
                            Update
                        </label>
                    </form>
                </li>
                <li>
                    <a class="dropdown-item text-danger" href="/userimageRemove">Remove</a>
                </li>
            </ul>
            {% endif %}

            <div class="text-center py-2">

                <div class="">
                    {{userprofile.user.username}}
                </div>
                <div class="py-3">
                    {% if userprofile.user == request.user %}
                    <a href="" class="btn btn-primary" data-toggle="modal" data-target="#editProfile">Edit Profile</a>
                    {% else %}
                    {% if is_following %}
                    <a href="/follow_unfollow_user/{{ userprofile.user.username }}" class="btn btn-primary follow"
                        id="user{{user.id}}">unfollow</a>
                    {% else %}
                    <a href="/follow_unfollow_user/{{ userprofile.user.username }}"
                        class="btn btn-outline-primary animate__animated follow" id="user{{user.id}}">Follow</a>
                    {% endif %}
                    <button class="btn btn-success" onclick="workinpro()">Messege</button>
                    {% endif %}
                </div>
                <div>
                    {{userprofile.bio}}
                </div>
                <div class="row">
                    <div class="col">
                        {{posts.count}} posts
                    </div>
                    <div class="col">
                        {{userprofile.followers}} followers
                    </div>
                    <div class="col">
                        {{userprofile.following}} following
                    </div>
                </div>
                <a target="blank" href="https://{{userprofile.connection}}">{{userprofile.connection}}</a>
            </div>

        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="editProfile" tabindex="-1" aria-labelledby="editProfileLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProfileLabel">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="/useredit/">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-outline mb-4">
                        <input type="text" id="UserName" class="form-control" value="{{userprofile.user.username}}"
                            name="username" required />
                        <label class="form-label" for="UserName">UserName</label>
                    </div>
                    <div class="form-outline mb-4">
                        <textarea class="form-control" id="bio" rows="4" name="bio">{{userprofile.bio}}</textarea>
                        <label class="form-label" for="bio">Bio</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input type="text" id="Links" class="form-control" name="links" placeholder="example.com"
                            value="{{userprofile.connection}}" />
                        <label class="form-label" for="Links">Links</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% include 'home/posts.html' %}

<script>
    document.getElementById("userimage").onchange = function () {
        document.getElementById("form").submit();
    };
</script>
{% endblock body %}