{% extends 'layout.html' %}
{% block body %}
<div class="container profile mt-3">
    <div class="row">
        <div class="col-11 col-md-6 mx-auto card p-5">
            <img src="/media/{{userprofile.userimage}}" alt="" id="profilePicture" role="button" data-toggle="dropdown"
                aria-expanded="false">
            {% if userprofile.user == request.user %}
            <ul class="dropdown-menu" aria-labelledby="profilePicture">
                <li>
                    <form id="form" method="POST" action="/userimageUpdate" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" class="form-file-input d-none" id="userimage" name="image" required />
                        <label class="dropdown-item" for="userimage">
                            Update
                        </label>
                    </form>
                </li>
                <li>
                    <a class="dropdown-item text-danger" href="/userimageRemove">Remove</a>
                </li>
            </ul>
            {% endif %}

            <div class="text-center py-2">

                <div class="">
                    {{userprofile.user.username}}
                </div>
                <div class="py-3">
                    {% if userprofile.user == request.user %}
                    <a href="" class="btn btn-primary">Edit Profile</a>
                    {% else %}
                    {% if is_following %}
                    <a href="/follow_unfollow_user/{{ userprofile.user.username }}" class="btn btn-primary follow"
                        id="user{{user.id}}">unfollow</a>
                    {% else %}
                    <a href="/follow_unfollow_user/{{ userprofile.user.username }}"
                        class="btn btn-outline-primary animate__animated follow" id="user{{user.id}}">Follow</a>
                    {% endif %}
                    <a href="" class="btn btn-success">Messege</a>
                    {% endif %}
                </div>
                <div>
                    {{userprofile.bio}}
                </div>
                <div class="row">
                    <div class="col">
                        {{posts.count}} posts
                    </div>
                    <div class="col">
                        {{userprofile.followers}} followers
                    </div>
                    <div class="col">
                        {{userprofile.following}} following
                    </div>
                </div>
                {{userprofile.bio}}
            </div>

        </div>
    </div>
</div>
{% include 'home/posts.html' %}

<script>
    document.getElementById("userimage").onchange = function () {
        document.getElementById("form").submit();
    };
</script>
{% endblock body %}