{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mx-auto mt-3">
            {% for userprofile in userprofiles %}
            <a class="profilelist btn  p-1 m-1" href="/profile/{{userprofile.user}}">
                <img src="https://res.cloudinary.com/di9lrcrlj/{{userprofile.userimage}}" alt=""> {{userprofile.user}}
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}