{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocialMedia</title>
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/croppie.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div style="padding-bottom: 59px;"></div>
    <div class="container-fluid p-0">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <div class="container-lg">
                <!-- <img src="" alt=""> -->
                <a class="navbar-brand" href="/">ProoMedia</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <form method="POST" action="/search_user" class="d-flex input-group w-auto mx-auto" id="search">
                        {% if user.is_authenticated %}
                        {% csrf_token %}
                        <input type="search" class="form-control" placeholder="Search User" aria-label="Search"
                            name="username" required />
                        <button class="btn btn-outline-primary" type="submit" data-ripple-color="dark">
                            Search
                        </button>
                        {% endif %}
                    </form>

                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-expanded="false">
                                {{request.user}}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/profile/{{request.user}}">Profile</a></li>
                                <li><a class="dropdown-item" href="/liked_post">Liked Post</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                {% if user.is_authenticated %}
                                <li>
                                    <a class="dropdown-item text-danger" href="/account/logout">LogOut</a>
                                </li>
                                {% else %}
                                <li>
                                    <a class="dropdown-item" href="/account/login">Login</a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {% block body %}
    {% endblock body %}
    <!-- msg Start -->
    <section class="container fixed-bottom error">
        {% for msg in messages %}
        <div class="alert alert-{{msg.tags}} alert-dismissible fade show" role="alert">
            <strong>{{msg}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </section>
    <!-- msg Ends -->
    <div style="padding-top: 58px;"></div>
    <footer class="fixed-bottom bg-light text-center text-lg-left footer">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-dark" href="/">ProoMedia</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- <script src="{% static 'js/popper.min.js' %}"></script> -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/mdb.min.js' %}"></script>
    <script src="{% static 'js/croppie.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>