@import '../scss/rfs';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #EDEDED;
    height: 100vh;
}


// .navbar {
//      position: fixed;
// }

.card {
    margin: 0;
}

#loginName {
    border-bottom: 0px solid black;
}

.login {
    width: 400px;
    margin: auto;
    padding: 50px;

    .social {
        a {
            color: #fff;
        }
    }

    .facebook {
        background-color: #4F66FF;
    }

    .google {
        background-color: #E82B2E;
    }

    .twitter {
        background-color: #57A1F2;
    }

    .github {
        background-color: #24282E;
    }
}

.error {
    z-index: 1;
}

.footer {
    z-index: 0;
}

.addpost {
    position: fixed;
    bottom: 10%;
    right: 10%;
    z-index: 2;
}

.post {
    margin-bottom: 30px;
}

.profile {
    img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@media(max-width:992px) {
    .login {
        width: 100%;
        margin: auto;
        margin-right: 0;
    }

}